<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.ReplyMapper">

<insert id="insert">
 insert into tbl_reply (rno, bno, reply, repyer)
 values (#{bno}, #{reply}, #{replyer},#{rno})
</insert>

<select id="read" resultType="org.zerock.domain.ReplyVO">

  select * from tbl_reply where rno = #{rno}

</select>

<delete id="delete">
	DELETE FROM tbl_reply WHERE rno = #{rno}
</delete>

<update id="update">
  update tbl_reply set reply =#{reply}, updatedate = sysdate where rno = #{rno}
</update>


<select id="getList" resultType="org.zerock.domain.ReplyVO">
	SELECT 
		r.rno rno,
		r.bno bno,
		r.reply reply,
		r.replyer replyer,
		r.replyDate replyDate,
		r.updateDate updateDate,
		m.username replyerName
	FROM 
	    tbl_reply r JOIN tbl_member m ON r.replyer = m.userid
	WHERE
	    r.bno = #{bno} 
	ORDER BY r.rno ASC
	</select>


 





</mapper>

